.film-box{
    display: flex;
}

.poster {
    display: inline-block;
}

.genresList {
    list-style: none;
}

.link {
    display: inline-block;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 50px;
}